<a href="https://colab.research.google.com/github/bhowad-akash/pandas_exc/blob/main/Chipotle%20(Knowing_your_data).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [42]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [43]:
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep='\t')

### Step 4. See the first 10 entries

In [44]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [45]:
# Solution 1
chipo.shape[0]

4622

### Step 6. What is the number of columns in the dataset?

In [46]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [47]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [48]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [49]:
chipo.groupby('item_name')['quantity'].sum().sort_values(ascending=False).head(1)

item_name
Chicken Bowl    761
Name: quantity, dtype: int64

### Step 10. For the most-ordered item, how many items were ordered?

In [50]:
chipo.groupby('item_name')['quantity'].sum().sort_values(ascending=False)[0]

761

### Step 11. What was the most ordered item in the choice_description column?

In [51]:
chipo.groupby('choice_description')['quantity'].sum().sort_values(ascending=False).head(1)

choice_description
[Diet Coke]    159
Name: quantity, dtype: int64

### Step 12. How many items were orderd in total?

In [52]:
chipo['quantity'].sum()

4972

### Step 13. Turn the item price into a float

In [53]:
chipo['item_price'] = chipo['item_price'].str[1:-1].astype('float')

#### Step 13.a. Check the item price type

In [41]:
chipo['item_price'].dtypes

dtype('float64')

#### Step 13.b. Create a lambda function and change the type of item price

In [57]:
#price_type_as_float = lambda x: float(x[1:-1])
#chipo['item_price'].apply(price_type_as_float)

#### Step 13.c. Check the item price type

In [58]:
chipo['item_price'].dtypes

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [69]:
revenue = (chipo['item_price'] * chipo['quantity']).sum()
revenue

39237.02

### Step 15. How many orders were made in the period?

In [67]:
total_orders = chipo['order_id'].value_counts().count()
total_orders

1834

### Step 16. What is the average revenue amount per order?

In [78]:
# Solution 1
average_revenue_amount = revenue / total_orders
average_revenue_amount.round(2)

21.39

### Step 17. How many different items are sold?

In [79]:
chipo['item_name'].value_counts().count()

50